.dashboard-heading {
  font-size: 28px;
  font-family: "Roboto";
  color: #ffffff;
  font-weight: bold;
}
.portfolio-value {
  font-size: 23px;
  font-family: "Roboto";
  color: #ffffff;
  font-weight: bold;
}
/* .dashboard {
  margin: 1px;
} */
