.app {
  text-align: center;
  background-color: #000000;
  padding: 20px;
}

.Dashboard {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  color: #333;
}

.StockChart {
  margin-top: 20px;
}
.stock-heading {
  font-size: 30px;
  font-family: "Roboto";
  color: #ffffff;
  font-weight: bold;
}
